<html>

<head>
    <title>
        CSV Processing Test
    </title>
</head>

<body>
        <input id="files" type="file" accept=".csv">
        <input type="submit" id="submit">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="csv.js"></script>
</body>

</html>