<html>

<head>
    <title>
        CSV Processing Test
    </title>
</head>

<body>
    <input id="files" type="file" accept=".csv" required><br>
    <input id="count" type="number" min="1" max="6" required><br>
    <input type="submit" id="submit">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object

            // Loop through the FileList and render image files as thumbnails.
            data = [];
            for (var i = 0, f; (f = files[i]); i++) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    // NOTE: event.target point to FileReader
                    var contents = event.target.result;
                    var lines = contents.split("\n");
                    //////
                    lines.forEach(line => {
                        var cols = line.split(",");
                        var obj = {
                            id: cols[0],
                            name: cols[1]
                        };
                        data.push(obj);
                    });
                    console.log(data);
                    $.post("/registration/", { info: data, count: count }, function (d) {
                        console.log(d);
                    });
                };

                reader.readAsText(f);
            }
        }
        evt = null;
        obj = {};

        document.getElementById("files").addEventListener(
            "change",
            e => {
                evt = e;
            },
            false
        );

        var count = 1;

        $("#submit").click(function () {
            count = document.getElementById("count").valueAsNumber;
            handleFileSelect(evt);
        });

    </script>
</body>

</html>